[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
undetected-chromedriver = "*"
psycopg2-binary = "*"
setuptools = "<81"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.12"
