[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
undetected-chromedriver = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
